<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Change Your Password</title>
</head>

<body>
    <%- include("../../components/header") %>
    <main>
        <%- include("../../components/nav") %>
        <form method="post" action="/change-password" class="users-form">
            <h2>Change Your Password</h2>
            <label for="password">Enter your New Password</label>
            <input type="password" autocomplete="off" placeholder="Password" name="password" id="password" required />

            <label for="confirmPassword">Confirm your New Password</label>
            <input type="password" autocomplete="off" placeholder="Confirm Password" name="confirmPassword"
                id="confirmPassword" required />

            <% if (typeof errPass =='string' && errPass ) { %>
            <p class="users-form__error"><%= errPass  %> </p>
            <% } %>

            <% if (typeof errPassMatch=='string' && errPassMatch ) {%>
            <p class="users-form__error"><%= errPassMatch %></p>
            <% } %>


            <button type="submit">Submit</button>
        </form>
    </main>
</body>

</html>