<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Create Album</title>
</head>

<body>
    <%- include("../../components/header", isLoggedIn, user) %>
    <main>
        <%- include("../../components/nav") %>
        <form action="/createalbum" method="post" class="users-form form__create" enctype="multipart/form-data">
            <textarea name="title" id="title" rows="1" placeholder="Title" required></textarea>
            <textarea placeholder="Description (Optional)" name="description" id="description" rows="15"></textarea>
            <br />
            <h3>Add Album Cover (Optional)</h3>
            <input type="file" name="myAlbum" id="myAlbum" hidden />
            <div class="upload__button">
                <label for="myAlbum"><i class="fas fa-plus"></i> Choose a Photo</label>
                <span id="custom-text">No file chosen, yet.</span>
            </div>
            <button type="submit">Create Album</button>
        </form>
    </main>
    <%- include("../../components/scripts_links.ejs") %>
    <script>
        const fileUpload = document.getElementById("myAlbum");
        const customTxt = document.getElementById("custom-text");
        fileUpload.addEventListener("change", () => {
            if (fileUpload.value) {
                customTxt.textContent = fileUpload.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
            } else {
                customTxt.textContent = "No file chosen, yet.";
            }
        })
    </script>
</body>

</html>