# Ignore Files, so they don't get pushed into the repository
node_modules/
*.log
*.logs
.env
package-lock.json
public/images/*.png
public/images/imgPost/*.png
!public/images/0.png
!public/images/music.jpg