<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Feedback</title>
</head>

<body>
    <%- include("../components/header", isLoggedIn, user) %>
    <main>
        <%- include("../components/nav") %>
        <section id="feedback">
            <h1 style="margin-bottom: 20px;">Feedback</h1>
            <form action= "/feedback" method="post" class="feedback-form">
                <label for="subject">Subject</label>
                <input type="text" name="subject" value="" required>
                <label for="name">Nama</label>
                <input type="text" name="name" value="<%= user.name %> " required>
                <label for="contact">Contact Number</label>
                <input type="text" name="contact" id="contact" value="" required>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" value="<%= user.email %> " required>
                <label for="message">Pesan / Feedback</label>
                <textarea type="text" name="message" id="message" rows="15" col="30" value="" required></textarea>

                <button type="submit">Submit</button>
            </form>
        </section>
    </main>
</body>

</html>