<nav>
    <ul>
        <li>MENU</li>
        <li><a href="/">Home</a></li>
        <li><a href="">Explore Topics</a></li>
        <li><a href="/featured-post">Featured Post</a></li>
        <li><a href="/mytopics">My Topics</a></li>
        <li><a href="/myanswers">My Answers</a></li>
        <li><a href="/feedback">Feedback</a></li>
    </ul>
</nav>